---
- name: Установка необходимых системных пакетов
  package:
    name:
      - curl
      - wget
      - htop
      - iotop
      - sysstat
      - ncdu
      - tmux
      - vim
      - git
      - ufw
      - fail2ban
      - unattended-upgrades
    state: present
    update_cache: yes

- name: Настройка swap файла
  include_tasks: swap.yml

- name: Оптимизация sysctl параметров
  include_tasks: sysctl.yml

- name: Настройка limits.conf для Docker
  include_tasks: limits.yml

- name: Настройка автоматических обновлений
  include_tasks: auto_updates.yml

- name: Настройка firewall (UFW)
  include_tasks: firewall.yml

- name: Настройка fail2ban
  include_tasks: fail2ban.yml
