---
- name: Отключение неиспользуемых служб
  service:
    name: "{{ item }}"
    state: stopped
    enabled: no
  loop:
    - bluetooth
    - cups
    - avahi-daemon
    - ModemManager
    - wpa_supplicant
  ignore_errors: yes

- name: Маскировка неиспользуемых служб
  systemd:
    name: "{{ item }}"
    masked: yes
  loop:
    - bluetooth.service
    - cups.service
  ignore_errors: yes
