---
- name: Добавление репозитория Grafana
  apt_key:
    url: https://packages.grafana.com/gpg.key
    state: present

- name: Добавление репозитория Grafana
  apt_repository:
    repo: "deb https://packages.grafana.com/oss/deb stable main"
    state: present
    filename: grafana

- name: Установка Grafana
  apt:
    name: grafana
    state: present
    update_cache: yes

- name: Включение и запуск Grafana
  systemd:
    name: grafana-server
    state: started
    enabled: yes

- name: Ожидание запуска Grafana
  wait_for:
    port: 3000
    timeout: 30
