---
- name: Проверка наличия swap файла
  stat:
    path: "{{ swap_file_path }}"
  register: swap_file_stat

- name: Создание swap файла
  command: fallocate -l {{ swap_file_size }} {{ swap_file_path }}
  when: not swap_file_stat.stat.exists

- name: Установка правильных прав на swap файл
  file:
    path: "{{ swap_file_path }}"
    mode: '0600'
  when: not swap_file_stat.stat.exists

- name: Форматирование swap файла
  command: mkswap {{ swap_file_path }}
  when: not swap_file_stat.stat.exists

- name: Включение swap файла
  command: swapon {{ swap_file_path }}
  when: not swap_file_stat.stat.exists

- name: Добавление swap в /etc/fstab
  lineinfile:
    path: /etc/fstab
    line: "{{ swap_file_path }} none swap sw 0 0"
    create: yes
  when: not swap_file_stat.stat.exists

- name: Проверка текущего swappiness
  command: cat /proc/sys/vm/swappiness
  register: current_swappiness
  changed_when: false

- name: Настройка swappiness в /etc/sysctl.conf
  lineinfile:
    path: /etc/sysctl.conf
    regexp: '^vm\.swappiness\s*='
    line: 'vm.swappiness = 60'
    create: yes

- name: Применение swappiness настройки
  command: sysctl -p
  when: current_swappiness.stdout != "60"
