---
- name: Настройка оптимизированных sysctl параметров
  sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    state: present
    reload: yes
  loop:
    - { key: 'vm.swappiness', value: '60' }
    - { key: 'vm.vfs_cache_pressure', value: '50' }
    - { key: 'net.core.somaxconn', value: '1024' }
    - { key: 'net.ipv4.tcp_tw_reuse', value: '1' }
    - { key: 'net.ipv4.ip_local_port_range', value: '1024 65535' }
    - { key: 'vm.overcommit_memory', value: '1' }
    - { key: 'vm.overcommit_ratio', value: '50' }
    - { key: 'fs.file-max', value: '2097152' }
    - { key: 'kernel.pid_max', value: '65536' }
    - { key: 'net.ipv4.neigh.default.gc_thresh1', value: '128' }
    - { key: 'net.ipv4.neigh.default.gc_thresh2', value: '512' }
    - { key: 'net.ipv4.neigh.default.gc_thresh3', value: '1024' }

- name: Настройка sysctl для предотвращения OOM killer для Docker
  sysctl:
    name: vm.panic_on_oom
    value: '0'
    state: present
    reload: yes
