---
- name: Создание директории для конфигурации Docker
  file:
    path: /etc/docker
    state: directory
    mode: '0755'

- name: Настройка Docker daemon.json для ограниченных ресурсов
  template:
    src: templates/daemon.json.j2
    dest: /etc/docker/daemon.json
    mode: '0644'
  notify: restart docker

- name: Создание директории для systemd override Docker
  file:
    path: /etc/systemd/system/docker.service.d
    state: directory
    mode: '0755'

- name: Настройка Docker systemd override для ограничений ресурсов
  template:
    src: templates/docker.service.d-override.conf.j2
    dest: /etc/systemd/system/docker.service.d/override.conf
    mode: '0644'
  notify: restart docker
